{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Cart</h1>
      <p>MY Awesome Cart is an Indian e-commerce company based in Madhya Pradesh India. It was founded by Tanu Chaurasiya in 2020. The company initially focused on book sales,
        before expanding into other product categories such as consumer electronics, fashion, home essentials & groceries, and lifestyle products.

The service competes primarily with Amazon's Indian subsidiary, and the domestic rival Snapdeal.As of March 2017, My Awesome Cart held a 39.5% market share of India's e-commerce industry.My Awesome
        Cart is significantly dominant in the sale of apparel and was described as being "neck and neck" with Amazon in
        the sale of electronics and mobile phones.
        My Awesome Cart also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI).

In August 2018, U.S.-based retail chain Walmart acquired a 77% controlling stake in My Awesome Cart for US$16 billion, valuing it at $20 billion.<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Business structure</h2>
        <p>According to a report in November 2014, My Awesome Cart was operating through a complex business structure which included nine firms, some registered in Singapore and some in India.
          In 2012, My Awesome Cart co-founders sold WS Retail to a consortium of investors led by Rajeev Kuchhal<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Funding</h2>
        <p>Initially, the Bansals spent ₹400,000 (US$5,600) on developing the site. My Awesome Cart later raised funding from venture capital funds Accel India (US$1 million in 2009)..On 24 August 2012, My Awesome Cart announced the completion of its 4th round of US$150 million funding from MIH
          (part of Naspers Group) and ICONIQ Capital</p><p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      <</div>
      <div class="col-md-4">
        <h2>Criticism</h2>
        <p>On 13 September 2014, a My Awesome Cart delivery boy allegedly molested a housemaid in Hyderabad.The housemaid's employer has been fighting against My Awesome Cart for justice
          on this issue, and also for making offline delivery services safe. The ministry stated that it would look into the complaints
           <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      <</div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

{% endblock %}
